<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<div class="footer__block">
				<a href="#" class="footer__logo-link logo-link" >
					<img src="images/svg/logo_desktop.svg" alt="Lets food">
				</a>
				<p class="footer__text">Jalan Semangka Raya, Telaga Murni,Cikarang Barat, Kab. Bekasi</p>
				<div class="footer__socials">
					<a href="#" class="footer__soc-link">
						<img src="images/svg/instagram.svg" alt="Instagram">
					</a>
					<a href="#" class="footer__soc-link">
						<img src="images/svg/facebook.svg" alt="Facebook">
					</a>
					<a href="#" class="footer__soc-link">
						<img src="images/svg/twitter.svg" alt="Twitter">
					</a>
				</div>
			</div>
			<ul class="footer__list">
				<li class="footer__list-item">
					<h4 class="footer__list-title">Company</h4>
					<a href="#" class="footer__list-link text-small">About Us</a>
					<a href="#" class="footer__list-link text-small">Career</a>
					<a href="#" class="footer__list-link text-small">How It Work</a>
				</li>
				<li class="footer__list-item">
					<h4 class="footer__list-title">Policy</h4>
					<a href="#" class="footer__list-link text-small">FAQ</a>
					<a href="#" class="footer__list-link text-small">Privacy</a>
					<a href="#" class="footer__list-link text-small">Shipping</a>
				</li>
				<li class="footer__list-item">
					<h4 class="footer__list-title">Get In Touch</h4>
					<a href="tel:+6289673112766" class="footer__list-link text-small">+62 896 7311 2766</a>
					<a href="mailto:food@example.com" class="footer__list-link text-small">food@example.com</a>
				</li>
			</ul>
		</div>
		<div class="footer__bottom">
			<p class="footer__privacy">
				© 2022 Let’sFood. ALL RIGHT RESERVED.
			</p>
		</div>
	</div>
</footer>
<script src="js/main.min.js"></script>
</body>
</html>