<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Let’s food</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header__inner">
				<a href="#" class="logo-link" >
					<picture>
						<source srcset="images/svg/logo_mobile.svg" media="(max-width: 460px)">
						<img src="images/svg/logo_desktop.svg" alt="Let’s food">
					</picture>
				</a>
				<nav class="nav" title="Main navigation">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="#" class="nav__link">Home</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">Menu</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">How it works</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">About</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">Contact</a>
						</li>
						<button class="header__btn header__btn--mobile btn">
							<span class="header__btn-span">Sign in</span>
						</button>
					</ul>
				</nav>
				<div class="header__actions">
					<button class="header__action-search">
						<img src="images/svg/search.svg" alt="Open search">
					</button>
					<a href="#" class="header__action-cart">
						<img src="images/svg/cart.svg" alt="Open cart">
					</a>
					<button class="header__btn btn">
						<span class="header__btn-span">Sign in</span>
					</button>
					<button class="burger" aria-label="Open menu" aria-expanded="false">
						<span class="burger__line"></span>
					</button>
				</div>
			</div>
		</div>
	</header>