.popular-menu{
	padding-bottom: 45px;
	&__top{
		max-width: 520px;
		margin: 0 auto 32px;
		text-align: center;
	}
	&__title{
		margin: 0 0 27px;
		color: var(--black);
	}
	&__text{
		margin: 0;
	}
	&__btn{
		display: block;
		margin: 0 auto;
		max-width: 136px;
	}
}

.popular-menu__list{
	margin: 0 0 70px;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 24px;
	&-link{
		display: flex;
		flex-direction: column;
		height: 100%;
		background-image: url('../images/card-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 10px;
		filter: drop-shadow(2px 5px 12px rgba(0, 0, 0, 0.15));
		transition: transform .2s ease-in-out;
		&:hover{
			transform: scale(1.1);
		}
	}
	&-img{
		margin: 13px auto 30px;
	}
	&-content{
		padding: 0 22px 13px;
		margin-top: auto;
		text-align: center;
	}
	&-title{
		@extend %rp-medium;
		margin: 0 0 5px;
		color: var(--black);
		font-size: 20px;
	}
	&-text{
		margin: 0 0 13px;
	}
	&-block{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-price{
		@extend %rp-medium;
		color: var(--black, #1D1D1D);
		font-size: 22px;
	}
	&-btn{
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		&:hover .popular-menu__list-icon path{
			fill: #FFCB45;
		}
	}
	&-icon path{
		transition: fill .1s ease-in-out;
	}
}